.ItemList{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding:25px;
    
}
.ItemsCards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cardDetail{
    margin-left: 25%;
    margin-right: 25%;
}